@model IEnumerable<HRM.ERP.Models.ACC.Estimate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAccountAdmin.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EstimateTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimateId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimateNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.POSO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subheading)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Footer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Memo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GrandTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POSO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subheading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Footer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
