@model HRM.ERP.Models.HRM.Language

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Language</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanguageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanguageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
